---
import Work from "./Work.astro";
---

<div
        data-aos="fade-right"
        class="text_border mt-32 relative mx-auto text-center w-11/12 max-w-5xl leading-[1.8]! flex flex-col gap-4 mb-8"
>
    <p>
        Here are the 3 <b>Case Studies</b> I crafted for my <a href="https://github.com/Matb85/matb85.github.io/blob/master/public/certificates/2022%20Google%20UX%20Design%20Professional%20Certificate.pdf" target="_blank" class="gradient-text">Google UX Certification</a>.
    </p>
</div>
<section class="w-full flex flex-col gap-32">
    <Work
            data={{
                img: "oceanpeace-show.webp",
                name: "Ocean Peace",
                desc: "Digital wellbeing app",
                link: "oceanpeace.pdf",
            }}
    />
    <Work
            data={{
                img: "poznajgory-show.webp",
                name: "Poznaj Góry",
                desc: "Webportal devoted to mountains",
                link: "pg.pdf",
            }}
    />
    <Work
            data={{
                img: "etee-show.webp",
                name: "Etee's",
                desc: "Zero-waste shopping made easy",
                link: "etee.pdf",
            }}
    />
</section>
