---
const { char } = Astro.props;
---

<div class="relative leading-none">
  <span class="text-[4rem] md:text-[10rem]">{char}</span>
  <span class="text-[4rem] md:text-[10rem] absolute opacity-10 top-1 left-1 sm:top-4 sm:left-4">{char}</span>
</div>
