/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .wh_full {
    @apply w-full h-full;
  }
  .cr_flex {
    @apply flex justify-center items-center;
  }
  .btn {
    --btn-gradient-width: -100%;
    transition: all 0.3s ease;
    z-index: 1;
    @apply block relative 
      cursor-pointer outline-none border-none overflow-hidden
    bg-black text-white px-8 py-2;
  }

  .btn:after {
    content: "";
    z-index: -1;
    transition: all 0.3s ease;
    transform: translateX(var(--btn-gradient-width));
    @apply absolute top-0 left-0 w-full h-full;
    background-image: linear-gradient(315deg, #c084fc 0%, #818cf8 74%);
  }
  .btn:hover {
    --btn-gradient-width: 0% !important;
  }
  .btn:active {
    top: 2px;
  }
}

/* latin */
@font-face {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./prata.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  @apply font-primary;
}
img {
  @apply object-cover;
}
html,
body {
  @apply w-full h-full bg-white;
}

.text_border {
  @apply relative z-10 p-6 sm:p-8 border-black lg:text-xl leading-relaxed;
}
.text_border::before {
  display: block;
  content: "";
  @apply w-full h-2 sm:h-4 bg-black absolute top-0 left-0;
}

.text_border::after {
  display: block;
  content: "";
  @apply w-2 sm:w-4 h-full bg-black absolute top-0 left-0;
}

.lazy-photo {
  @apply opacity-0 transition-opacity;
}
.lazy-photo.loaded {
  @apply opacity-100;
}
