---
import H from "../utils/H";
import Photo from "../utils/Photo";

const text = "About me";
---

<H text={text} />
<div data-aos="fade-right" class="text_border paragraph">
  <p>
    <b>Hello!</b> I'm Mateusz Bis, a dedicated and versatile <b>Full Stack Software Engineer</b> with a robust background
    in both development and design.
  </p>
  <p>
    I' been present in the tech world since <b>2019</b> when I created{" "}
    <a href="https://redinnlabs.com" target="_blank" class="gradient-text">Redinn</a>, a <b>web agency</b> which to this
    day puts performance and quality at the forefront of every project. Throughout years, I've experienced working in various
    environments, from <b>startups</b> (i.a. <a href="https://poznajgory.pl" target="_blank" class="gradient-text"
      >Poznaj Góry</a
    >), through <b>middle-size companies</b> (i.a. <a
      href="https://optimamedical.com"
      target="_blank"
      class="gradient-text">Optima Medical</a
    >) to <b>corporations</b> (i.a. <a href="https://avsystem.com" target="_blank" class="gradient-text">AVSystem</a>).
  </p>
  <p>
    My skill set is constantly expanding, and currently includes <b>devops</b>, <b>frontend</b> and <b>backend</b> development
    with various technologies (listed in my <a href="#contact-+-cv" class="gradient-text">résumé</a>). All of my skills
    are proven either by practical projects, or appropriate <b>certifications</b> visible on my{" "}
    <a href="https://www.linkedin.com/in/mateusz-bis-185bb1230/" target="_blank" class="gradient-text">LinkedIn</a>.
    Moreover, My practical knowledge is backed up by theoretical foundation thanks to my ongoing
    <a href="https://informatyka.agh.edu.pl/en/" target="_blank" class="gradient-text">Computer Science studies</a> at
    <b>AGH UST</b>.
  </p>
  <p>
    I'm also a passionate <b>photographer</b>, I'm always on the lookout for new opportunities to capture the world
    around me! My photography work includes events, landscapes, portraits, street - all showcasing the beauty of nature
    and human emotions.
  </p>
  <p>
    Communication in English, Polish and French is not a problem for me, so feel free to reach out in any of these
    languages.
  </p>
  Best regards, Mateusz Bis
</div>

<section
  data-aos="fade-right"
  class="w-full p-4 md:p-12 flex flex-col-reverse md:flex-row gap-8 justify-center overflow-hidden"
>
  <div class="w-full md:w-7/12 relative pr-8 pb-8">
    <Photo
      src="/images/landscape/thumbnail_DSC06798.webp"
      fullUrl={true}
      alt="Polish mountains"
      sizes={[480, 720, 1280]}
      className="aspect-3/2 w-full relative"
    />
    <Photo
      src="/images/landscape/thumbnail_DSC07415.webp"
      fullUrl={true}
      alt="A bee sitting on a flower"
      sizes={[480, 720]}
      className="aspect-square w-2/5 absolute bottom-0 right-0"
    />
  </div>
  <img data-aos="fade-left" src="/i.svg" class="w-10/12 mx-auto md:w-5/12 object-contain" alt="interests" />
</section>
