---
import React from 'react';
import H from '../utils/H';
import Photo from '../utils/Photo';

const text = "About me";
---

<H text={text} />
<div
    data-aos="fade-right"
    class="text_border relative mx-auto text-center w-11/12 max-w-5xl leading-[1.8]! flex flex-col gap-4"
>
  <p>
    <b>Hello!</b> I'm Mateusz Bis, a dedicated and versatile <b>Full Stack Software Engineer</b> with a robust
    background in both development and design.
  </p>
  <p>
    I' been present in the tech world since <b>2019</b> when I created{" "}
    <a href="https://redinnlabs.com" target="_blank" class="gradient-text">Redinn</a>, a <b>web agency</b> which to this
    day puts performance and quality at the forefront of every project. I've experienced working in a variety of
    environments, from <b>startups</b> (<a href="https://poznajgory.pl" target="_blank" class="gradient-text">Poznaj
    Góry</a>),
    through <b>middle-size companies</b> (<a href="https://optimamedical.com" target="_blank" class="gradient-text">Optima
    Medical</a>)
    to <b>corporate settings</b> (<a href="https://avsystem.com" target="_blank" class="gradient-text">AVSystem</a>).
  </p>
  <p>
    Throughout the years, I've gained experience across a variety of domains, including development of <b>
    websites</b>,{" "}
    <b>web & native apps</b>, <b>backend microservices</b>, and utilization of{" "}
    <b>AWS & Google Cloud</b>. Many of my skills are not only proven by my projects shown below, but also by <b>various
    certifications</b> visible on
    my{" "}
    <a href="https://www.linkedin.com/in/mateusz-bis-185bb1230/" target="_blank" class="gradient-text">
      LinkedIn profile</a>.
  </p>
  <p>
    I'm also a dedicated student of{" "}
    <a href="https://informatyka.agh.edu.pl/en/" target="_blank" class="gradient-text">
      Computer Science at AGH UST
    </a>{" "}
    in Cracow, Poland, where I've been studying since <b>October, 2023</b>. My academic pursuits provide a
    strong theoretical foundation that complements my practical experience, allowing me to stay abreast of the
    latest advancements in the field.
  </p>
  <p>
    With a <b>proficient knowledge of English</b>, I excel in collaborating with international teams and clients,
    ensuring clear and effective communication. I'm <b>excited</b> about the possibilities that lie ahead and am always
    eager to take on new challenges! Please{" "}
    feel invited to <a href="/#selected-works" class="gradient-text">scroll down</a>{" "}
    and look at some of my work below.
  </p>
  Best regards, Mateusz Bis
</div>

<section
    data-aos="fade-right"
    class="w-full p-4 md:p-12 flex flex-col-reverse md:flex-row gap-8 justify-center overflow-hidden"
>
  <div class="w-full md:w-7/12 relative pr-8 pb-8">
    <Photo
        src="autumn.webp"
        alt="Polish mountains"
        sizes={[480, 720, 1280]}
        className="aspect-3/2 w-full relative"
    />
    <Photo
        src="bee.webp"
        alt="A bee sitting on a flower"
        sizes={[480, 720]}
        className="aspect-square w-2/5 absolute bottom-0 right-0"
    />
  </div>
  <img data-aos="fade-left" src="/i.svg" class="w-10/12 mx-auto md:w-5/12 object-contain" alt="interests" />
</section>

