---
import { Logo } from "@/icons/Logo";
import Photo from "@/utils/Photo.tsx";
---
<header id="start" class="w-full md:h-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 md:gap-0 overflow-hidden gap-0 pb-4 pt-24 px-4 md:px-0">
  <a href="/development" id="showcase-left" class="w-full relative z-10 flex flex-col gap-4">
    <img
        data-aos-delay="300"
        data-aos-offset="0"
        data-aos="fade"
        class="translate-x-[-20%] w-96"
        src="/arrows.svg"
        alt="arrow"
        loading="lazy"
    />
    <h2 class="md:pl-4" data-aos-offset="0" data-aos-delay="0" data-aos="fade-right">
      Full Stack Developer
    </h2>
    <Photo
        className="px-0 md:pl-4 w-full h-72 sm:h-96 md:h-[calc(100vh-15rem)] object-top flex-shrink-1"
        src="/images/landscape/thumbnail_DSC07088.webp"
        fullUrl={true}
        alt="Poznaj Góry"
        sizes={[720]}
    />
  </a>

  <section class="hidden md:flex cr_flex wh_full" data-aos="zoom-in-up">
    <div class="w-40 lg:w-64 aspect-square relative">
      <Logo className="wh_full absolute top-0 scale-[1.7] opacity-10"/>
      <Logo className="wh_full absolute top-0" />
      <p class="absolute -top-[4rem] w-full text-center text-[3rem]">Mateusz</p>
    </div>
  </section>

  <a href="/photography" id="showcase-right" class="w-full relative z-10 flex flex-col items-end gap-4">
    <Photo
        className="px-0 md:pr-4 w-full h-72 sm:h-96 md:h-[calc(100vh-15rem)] flex-shrink-1"
        src="/images/drone/thumbnail_DJI_0186.webp"
        fullUrl={true}
        alt="Ocean Peace"
        sizes={[720]}
    />
    <h2 data-aos="fade-left" class="md:pr-4 text-right">
      Photographer
    </h2>
    <img
        data-aos-delay="300"
        data-aos-offset="0"
        data-aos="fade"
        class="translate-x-[20%] w-96"
        src="/arrows.svg"
        alt="arrow"
        loading="lazy"
    />
  </a>
</header>

<style lang="postcss">
    @import "~/global.css" reference;

    #start h2 {
      @apply text-2xl md:text-3xl xl:text-4xl 2xl:text-4xl;
    }
</style>
