---
import { Logo } from "@/icons/Logo";
import Photo from "@/utils/Photo.tsx";
---
<header id="start" class="wh_full grid grid-cols-1 md:grid-cols-3 gap-0 pb-4 pt-24">
  <a href="/development" class="showcase-left w-full relative z-10 flex flex-col gap-4">
    <img
        data-aos-delay="300"
        data-aos-offset="0"
        data-aos="fade"
        class="translate-x-[-20%]"
        src="/arrows.svg"
        alt="arrow"
        loading="lazy"
    />
    <h2 class="pl-4" data-aos-offset="0" data-aos-delay="0" data-aos="fade-right">
      Full Stack Developer
    </h2>
    <Photo
        className="pl-4 wh_full flex-shrink-1"
        src="autumn.webp"
        alt="Poznaj Góry"
        sizes={[720]}
    />
  </a>

  <section class="cr_flex wh_full" data-aos="zoom-in-up">
    <div class="w-64 h-64 relative">
      <Logo className="wh_full absolute top-0 scale-[1.7] opacity-10"/>
      <Logo className="wh_full absolute top-0" />
      <p class="absolute -top-[4rem] w-full text-center text-[3rem]">Mateusz</p>
    </div>
  </section>

  <p class="md:hidden absolute top-8 w-full text-center text-5xl">Mateusz Bis</p>

  <a href="/photography" class="showcase-right w-full relative z-10 flex flex-col gap-4 overflow-hidden">
    <Photo
        className="pr-4 wh_full flex-shrink-1"
        src="bee.webp"
        alt="Ocean Peace"
        sizes={[720]}
    />
    <h2 data-aos="fade-left" class="pr-4">
      Photographer
    </h2>
    <img
        data-aos-delay="300"
        data-aos-offset="0"
        data-aos="fade"
        class="translate-x-[20%]"
        src="/arrows.svg"
        alt="arrow"
        loading="lazy"
    />
  </a>
</header>

<style lang="postcss">
    @import "~/global.css" reference;

    #start h2 {
      @apply text-2xl md:text-3xl xl:text-4xl 2xl:text-4xl;
    }
</style>
