---
import { Logo } from '@/icons/Logo';
---
<section
        id="nav"
        class="fixed transition-all top-0 w-full h-20 backdrop-blur flex gap-4 justify-between px-4 items-center z-50 bg-primary-200/[0.4]"
>
    <a href="/" class="flex gap-2 items-center">
        <div id="nav-logo"
             class="hidden sm:block transition-all duration-500 overflow-hidden">
            <h2 class="text-[3rem] mt-2 block leading-none transition-all">Mateusz</h2>
        </div>
        <Logo className="h-12 w-12 mx-auto"/>
    </a>
    <div class="flex items-center gap-6">
        <a id="nav-dev" href="/development" class="text-xl hover:underline">Development</a>
        <a id="nav-photo" href="/photography" class="text-xl hover:underline">Photography</a>
        <a href="/#contact-+-cv" class="text-xl hover:underline">Contact + CV</a>
        <div class="flex items-center gap-2">
            <a href="https://github.com/Matb85" target="_blank" rel="noopener noreferrer">
                <img src="/github.svg" alt="GitHub Icon" class="w-6 h-6"/>
            </a>
            <a href="https://www.linkedin.com/in/mateusz-bis-185bb1230/" target="_blank" rel="noopener noreferrer">
                <img src="/linkedin.svg" alt="LinkedIn Icon" class="w-6 h-6"/>
            </a>
        </div>
    </div>
</section>

<script>
    const nav = document.getElementById('nav')!;
    const logo = document.getElementById('nav-logo')!;

    let oldScroll = 0;

    function scroll() {
        if (window.scrollY < oldScroll || window.scrollY < 80) {
            nav.style.transform = `translateY(0px)`;
            logo.classList.remove('w-0', 'opacity-0');
            logo.classList.add('w-[200px]');
        } else {
            logo.classList.add('w-0', 'opacity-0');
            logo.classList.remove('w-[200px]');
            nav.style.transform = `translateY(-100px)`;
        }
        oldScroll = window.scrollY;
    }

    oldScroll = window.scrollY;
    scroll();
    window.addEventListener("scroll", () => scroll());
</script>
