---
import { Logo } from '@/icons/Logo';
---
<section
        id="nav"
        class="fixed transition-all top-0 w-full h-20 backdrop-blur cr_flex z-50 bg-primary-200/[0.4]"
>
    <div class="absolute left-4 flex gap-2">
        <a href="https://github.com/Matb85" target="_blank" rel="noopener noreferrer">
            <img src="/github.svg" alt="GitHub Icon" class="w-6 h-6"/>
        </a>
        <a href="https://www.linkedin.com/in/mateusz-bis-185bb1230/" target="_blank" rel="noopener noreferrer">
            <img src="/linkedin.svg" alt="LinkedIn Icon" class="w-6 h-6"/>
        </a>
    </div>
    <div class="flex gap-2 items-center">
        <div id="nav-logo"
             class="hidden sm:block transition-all duration-500 overflow-hidden">
            <h2 class="text-[3rem] mt-2 block leading-none transition-all">Mateusz</h2>
        </div>
        <Logo className="h-16 w-16 mx-auto"/>
    </div>
    <a id="back_to_top" class="absolute right-4" href="#">
        back to top
    </a>
</section>

<script>
    const nav = document.getElementById('nav')!;
    const logo = document.getElementById('nav-logo')!;


    let oldScroll = 0;


    function scroll() {
        if (window.scrollY < oldScroll || window.scrollY < 20) {
            nav.style.transform = `translateY(0px)`;
            logo.classList.remove('w-0', 'opacity-0');
            logo.classList.add('w-[200px]');
        } else {
            logo.classList.add('w-0', 'opacity-0');
            logo.classList.remove('w-[200px]');
            nav.style.transform = `translateY(-100px)`;
        }
        if (window.scrollY > window.innerHeight / 3) {
            nav.style.opacity = '1';
        } else {
            nav.style.opacity = '0';
        }
        oldScroll = window.scrollY;
    }

    oldScroll = window.scrollY;
    scroll();
    window.addEventListener("scroll", () => scroll());
</script>
